# 1. 排除執行檔與動態庫
*.exe
*.dll
*.o
*.out

# 2. 排除所有帶有 -config 的檔案 (如 python-config, pcre2-config)
*-config

# 3. 排除 Python 相關工具
pydoc*
python*
idle*

# 4. 排除 壓縮/系統 相關工具腳本
xz*
bz*
libpng*
ncurses*
gettext*

# 5. 排除其他特定雜物
prototype.ex
c_rehash

# 6. 環境設定
.vscode/
.history/

# 排除所有 Python 腳本與 Shell 腳本
*.py
*.sh

# 排除 glib 與 gdbus 系列
glib*
gdbus*
gtester*

# 排除所有帶有 -config 的系統工具
*-config